<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/success.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

 </head>

    <body>
    <!--头部-->
    <header>
        <a name="mao1">
            <div class="header">

                <ul class="header-left">
                    <li>
                        <img src="image/header_1.png"/>
                        <a href="">京东首页</a>
                    </li>
                    <li class="header-l-2">
                        <i class="fa fa-map-marker" style="color: #5C5452;"></i>
                        <a href="">北京</a>
                        <div class="header-l-d">

                            <ul>
                                <li><a href="" style="background: red; color: white;">北京</a></li>
                                <li><a href="">山西</a></li>
                                <li><a href="">内蒙古</a></li>
                                <li><a href="">福建</a></li>
                                <li><a href="">江西</a></li>
                                <li><a href="">西藏</a></li>
                                <li><a href="">新疆</a></li>
                            </ul>
                            <ul>
                                <li><a href="">上海</a></li>
                                <li><a href="">河南</a></li>
                                <li><a href="">江苏</a></li>
                                <li><a href="">湖北</a></li>
                                <li><a href="">四川</a></li>
                                <li><a href="">陕西</a></li>
                                <li><a href="">港澳</a></li>
                            </ul>
                            <ul>
                                <li><a href="">天津</a></li>
                                <li><a href="">辽宁</a></li>
                                <li><a href="">山东</a></li>
                                <li><a href="">湖南</a></li>
                                <li><a href="">海南</a></li>
                                <li><a href="">甘肃</a></li>
                                <li><a href="">台湾</a></li>
                            </ul>
                            <ul>
                                <li><a href="">重庆</a></li>
                                <li><a href="">吉林</a></li>
                                <li><a href="">安徽</a></li>
                                <li><a href="">广东</a></li>
                                <li><a href="">贵州</a></li>
                                <li><a href="">青岛</a></li>
                                <li><a href="">钓鱼岛</a></li>
                            </ul>
                            <ul>
                                <li><a href="">河北</a></li>
                                <li><a href="">黑龙江</a></li>
                                <li><a href="">浙江</a></li>
                                <li><a href="">广西</a></li>
                                <li><a href="">云南</a></li>
                                <li><a href="">宁夏</a></li>
                                <li><a href="">海外</a></li>
                            </ul>

                        </div>
                    </li>
                </ul>
                <ul class="header-right">
                    <li><a href="../登录页面\index.html" style="color: red;">你好，请登录</a></li>
                    <li><a href="../注册页面\index.html" >免费注册</a></li>
                    <li class="spacer"></li>
                    <li><a href="">我的订单</a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="">我的京东</a>
                        <i class="fa fa-angle-down"></i>
                        <div class="header-r-1 aacnm header-r-11">
                            <div>
                                <ol>
                                    <dd><a href="">待处理订单</a></dd>
                                    <dd><a href="">返修退换货</a></dd>
                                    <dd><a href="">降价商品</a></dd>

                                </ol>
                                <ol>
                                    <dd><a href="">消息</a></dd>
                                    <dd><a href="">我的问答</a></dd>
                                    <dd><a href="">我的关注</a></dd>

                                </ol>

                            </div>
                            <div>
                                <ol>
                                    <dd><a href="">我的京豆</a></dd>
                                    <dd><a href="">我的白条</a></dd>
                                </ol>
                                <ol>
                                    <dd><a href="">我的优惠劵</a></dd>
                                    <dd><a href="">我的理财</a></dd>
                                </ol>

                            </div>
                            <div>
                                <h4><a href="">我的足迹</a><a href="">更多 ></a> </h4>
                                <a href=""><img src="image/59ae02fcN529cc4a1.jpg"/></a>
                                <a href=""><img src="image/59ce706fN6f3f2a4a.jpg"/></a>
                                <a href=""><img src="image/57b191f2N15993cbb.jpg"/></a>
                                <a href=""><img src="image/58ff269fN7b7e087b.jpg"/></a>

                            </div>
                        </div>

                    </li>
                    <li class="spacer"></li>
                    <li><a href="">京东会员</a></li>
                    <li class="spacer"></li>
                    <li><a href="">企业采购</a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="">客户服务</a>
                        <i class="fa fa-angle-down"></i>
                        <div class="header-r-1 aacnm header-r-2">
                            <div>
                                <h4>客户</h4>
                                <ol>

                                    <dd><a href="">帮助中心</a></dd>
                                    <dd><a href="">在线客服</a></dd>
                                    <dd><a href="">电话客服</a></dd>
                                    <dd><a href="">金融咨询</a></dd>
                                </ol>
                                <ol>

                                    <dd><a href="">售后服务</a></dd>
                                    <dd><a href="">意见建议</a></dd>
                                    <dd><a href="">客服邮箱</a></dd>
                                    <dd><a href="">售全球客服</a></dd>
                                </ol>
                            </div>
                            <div>
                                <h4>商户</h4>
                                <ol>

                                    <dd><a href="">合作招商</a></dd>
                                    <dd><a href="">商家后台</a></dd>
                                    <dd><a href="">商家帮助</a></dd>
                                </ol>
                                <ol>

                                    <dd><a href="">学习中心</a></dd>
                                    <dd><a href="">京麦工作台</a></dd>
                                    <dd><a href="">规则平台</a></dd>
                                </ol>
                            </div>
                        </div>

                    </li>
                    <li class="spacer"></li>
                    <li>
                        <a href="">网址导航</a>
                        <i class="fa fa-angle-down"></i>
                        <div class="header-r-1 aacnm header-r-3">
                            <div>
                                <h4>特色主题</h4>
                                <ol>
                                    <dd><a href="">京东试用</a></dd>
                                    <dd><a href="">国际站</a></dd>
                                    <dd><a href="">买什么</a></dd>
                                    <dd><a href="">0元评测</a></dd>
                                    <dd><a href="">优惠劵</a></dd>
                                    <dd><a href="">印尼站</a></dd>
                                    <dd><a href="">陪伴计划</a></dd>
                                </ol>
                                <ol>
                                    <dd><a href="">京东金融</a></dd>
                                    <dd><a href="">京东会员</a></dd>
                                    <dd><a href="">俄语站</a></dd>
                                    <dd><a href="">定期送</a></dd>
                                    <dd><a href="">秒杀</a></dd>
                                    <dd><a href="">京东金融科技</a></dd>
                                    <dd><a href="">出海招商</a></dd>
                                </ol>
                                <ol>
                                    <dd><a href="">全球售</a></dd>
                                    <dd><a href="">京东预售</a></dd>
                                    <dd><a href="">装机大师</a></dd>
                                    <dd><a href="">港澳售</a></dd>
                                    <dd><a href="">闪购</a></dd>
                                    <dd><a href="">In货推荐</a></dd>
                                </ol>
                            </div>

                            <div>
                                <h4>行业推荐</h4>
                                <ol>
                                    <dd><a href="">手机</a></dd>
                                    <dd><a href="">玩3C</a></dd>
                                    <dd><a href="">家用电器</a></dd>
                                    <dd><a href="">服装城</a></dd>
                                    <dd><a href="">家装城</a></dd>
                                    <dd><a href="">食品</a></dd>
                                    <dd><a href="">农资频道</a></dd>
                                    <dd><a href="">图书</a></dd>

                                </ol>
                                <ol>
                                    <dd><a href="">智能数码</a></dd>
                                    <dd><a href="">电脑办公</a></dd>
                                    <dd><a href="">京东智能</a></dd>
                                    <dd><a href="">美妆馆</a></dd>
                                    <dd><a href="">母婴</a></dd>
                                    <dd><a href="">运动户外</a></dd>
                                    <dd><a href="">整车</a></dd>
                                </ol>
                            </div>
                            <div>
                                <h4>生活服务</h4>
                                <ol>
                                    <dd><a href="">京东众筹</a></dd>
                                    <dd><a href="">京东金融App</a></dd>
                                    <dd><a href="">理财</a></dd>
                                    <dd><a href="">话费</a></dd>
                                    <dd><a href="">彩票</a></dd>
                                    <dd><a href="">机票酒店</a></dd>
                                    <dd><a href="">酒店到家</a></dd>
                                    <dd><a href="">游戏</a></dd>

                                </ol>
                                <ol>
                                    <dd><a href="">白条</a></dd>
                                    <dd><a href="">京东小金库</a></dd>
                                    <dd><a href="">智能家电</a></dd>
                                    <dd><a href="">水电煤</a></dd>
                                    <dd><a href="">旅行</a></dd>
                                    <dd><a href="">电影票</a></dd>
                                    <dd><a href="">京东众测</a></dd>
                                </ol>
                            </div>




                            <div>
                                <h4>更多精选</h4>
                                <ol>
                                    <dd><a href="">合作招商</a></dd>
                                    <dd><a href="">京东E卡</a></dd>
                                    <dd><a href="">服务市场</a></dd>
                                    <dd><a href="">乡村招募</a></dd>
                                    <dd><a href="">京友邦</a></dd>
                                    <dd><a href="">智能社区</a></dd>
                                    <dd><a href="">知识产权维权</a></dd>


                                </ol>
                                <ol>
                                    <dd><a href="">京东通信</a></dd>
                                    <dd><a href="">企业采购</a></dd>
                                    <dd><a href="">办公生活馆</a></dd>
                                    <dd><a href="">校园加盟</a></dd>
                                    <dd><a href="">京东社区</a></dd>
                                    <dd><a href="">游戏社区</a></dd>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="spacer"></li>
                    <li class="header-r-4"><a href="">手机京东</a>
                        <div class="aacnm h-r-1">

                            <div>
                                <div class="h-r-1img">
                                    <img src="image/59a51bf6Nb8e478cc.png"/>
                                </div>
                                <h4><a href="">手机京东</a></h4>
                                <p>新人专享大礼</p>
                                <div class="h-r-1img2">
                                    <a href=""><img src="image/8104b36ae6b72043ae838599d36d007d.png" alt="" /></a>
                                    <a href=""><img src="image/c0935b2c6504a5419e6ee507a5381bbe.png"/></a>
                                    <a href=""><img src="image/a64b429ebf83d2459a0a73830f4ad4c4.png"/></a>
                                </div>
                            </div>
                            <div>
                                <div class="h-r-1img">
                                    <img src="image/5874a54dNcec29924.jpg"/>
                                </div>
                                <h4><a href="">关注京东微信</a></h4>
                                <p>微信扫一扫关注新粉最高180元惊喜礼包</p>
                                <!--<div class="h-r-1img2">
                                    <a href=""><img src="image/8104b36ae6b72043ae838599d36d007d.png" alt="" /></a>
                                    <a href=""><img src="image/c0935b2c6504a5419e6ee507a5381bbe.png"/></a>
                                    <a href=""><img src="image/a64b429ebf83d2459a0a73830f4ad4c4.png"/></a>
                                </div>-->
                            </div>
                            <div>
                                <div class="h-r-1img">
                                    <img src="image/5874a555Ne8192324.jpg"/>
                                </div>
                                <h4><a href="">京东金融客户端</a></h4>
                                <p>新人专享大礼</p>
                                <div class="h-r-1img2">
                                    <a href=""><img src="image/8104b36ae6b72043ae838599d36d007d.png" alt="" /></a>
                                    <a href=""><img src="image/c0935b2c6504a5419e6ee507a5381bbe.png"/></a>
                                    <a href=""><img src="image/a64b429ebf83d2459a0a73830f4ad4c4.png"/></a>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
                <div style="clear: both;"></div>
            </div>

        </a>
    </header>

        <div class="nav-tabs-justified">
        <div class="nav_wrap">

        <div class="nav_top">
        <div class="nav_top_one">
        <a href="/#"><img src="/img/logo1.jpg"  style="height: 60px;width:180px;"  /></a>
        </div>
        <div class="nav_top_two"><input type="text" /><button>搜索</button></div>
    </div>

    </div>
    </div>

    <div class="main">

        <div class="success-wrap">
        <div class="w" id="result">
        <div class="m succeed-box">
        <div class="mc success-cont">
        <div class="success-lcol">
        <div class="success-top"><b class="succ-icon"></b>
        <h3 class="ftx-02">商品已成功加入购物车</h3></div>
    <div class="p-item">
        <div class="p-img">
        <a href="/javascript:;" target="_blank"><img style="height: 60px;width:60px;"  th:src="${skuInfo?.skuDefaultImg}" src="/img/shop1.jpg"/></a>
        </div>
        <div class="p-info">
        <div class="p-name">
        <a th:href="'http://item.gmall.com/'+${skuInfo?.id}+'.html'"  th:text="${skuInfo?.skuName}"  >TCL 55A950C 55英寸32核人工智能 HDR曲面超薄4K电视金属机身（枪色）</a>
    </div>
    <div class="p-extra"> <span class="txt" th:text="'数量：'+${skuNum}" >  数量：1</span></div>
    </div>
    <div class="clr"></div>
        </div>
        </div>
        <div class="success-btns success-btns-new">
        <div class="success-ad">
        <a href="/#none"></a>
        </div>
        <div class="clr"></div>
        <div class="bg_shop">
        <a class="btn-tobback" th:href="'http://item.gmall.com:8084/'+${skuInfo?.id}+'.html'">查看商品详情</a>
        <a class="btn-addtocart"  href="http://cart.gmall.com:8087/cartlist" id="GotoShoppingCart"><b></b>去购物车结算</a>
   </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    </body>
    <script type="text/javascript" src="/js/success.js"></script>

</html>
